[run]
# uncomment the following to omit files during running
# omit
[report]
# why exclude helper.py? these functions are tested actually in every web interface check, however, sounds coverage is not collected
omit = schema.py helper.py
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def main
